:root {
  --colour-bg: #202124;
  --colour-fg: #E8EAED;
}

@media (prefer-color-scheme: light) {
  :root {
    --colour-bg: #ffffff;
    --colour-fg: #000000;
  }
}

a:visited {
  color: yellow;
}

body {
  background-color: var(--colour-bg);
  color: var(--colour-fg);
}

.child {
    display: inline-block;
}

table {
  border: 2px solid var(--colour-fg);
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
tr {
  border: solid;
  border-width: 1px;
}
td {
  border: solid;
  border-width: 1px 0;
  padding: 1em;
}

.banner {
  text-align: center;
}
